/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

.urltweet {
  display: block;
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;

  border: #ddd 3px solid;
  border-top-color: #eee;
  border-bottom-color: #bbb;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);

  font: bold 14px/18px Helvetica, Arial, sans-serif;
  color: #000;
  background: ghostwhite;}

.tweet {
  display: block;
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;

  border: #ddd 3px solid;
  border-top-color: #eee;
  border-bottom-color: #bbb;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);

  font: bold 14px/18px Helvetica, Arial, sans-serif;
  color: #000;
  background: cornsilk;}

 .endless_more, .endless_loading {
  display: block;
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  border: #ddd 3px solid;
  border-top-color: #eee;
  border-bottom-color: #bbb;
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);

  font: bold 14px/18px Helvetica, Arial, sans-serif;
  color: #000;
  background: firebrick;
  text-align:center;
  font-size: xx-large;
  font-style: oblique
 }

.phish_url {
  display: block;
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;

  border: #ddd 3px solid;
  border-top-color: #eee;
  border-bottom-color: #bbb;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);

  font: bold 14px/18px Helvetica, Arial, sans-serif;
  color: #000;
  background: #ff0011;}

.good_url {
  display: block;
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;

  border: #ddd 3px solid;
  border-top-color: #eee;
  border-bottom-color: #bbb;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);

  font: bold 14px/18px Helvetica, Arial, sans-serif;
  color: #000;
  background: lightseagreen;}
/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
.form-control {
  padding-right: 30px;
}

.form-control + .glyphicon {
  position: absolute;
  right: 0;
  padding: 8px 27px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
