{% extends "base.html" %}
{% load check_phish %}
{% load short_to_long %}
<!-- Custom styles for this template -->

{% block content %}
    {% for tweet in search_results %}
        <div class={% if tweet.urls %}"urltweet"{% else %}"tweet"{% endif %}>
            {% autoescape off %}{{ tweet.html }}{% endautoescape %}<br><br>
            <!--list: {{ tweet.lists }}-->
            <!--reply: {{ tweet.reply }}s-->
            <!--tags: {{ tweet.tags }}-->
            {% for url in tweet.urls %}
                <div class={% if url|check_phish %}"phishurl"{% else %}"goodurl"{% endif %}>{{ url|short_to_long }}</div>
            {% endfor %}
            <!--users: {{ tweet.users }}<br><br>-->
        </div>
    {% endfor %}
{% endblock %}
